.nav
  a.nav__link(
    ui-sref-active="nav__link--active"
    ui-sref="layout.feed") Feed Component

  a.nav__link(
    ui-sref-active="nav__link--active"
    ui-sref="layout.accordion") Accordion Component
